.testimonial {
  background-color: #F9D783;
}
@media (min-width: 600px) {
  .testimonial {
    padding-top: 70px;
    padding-bottom: 120px;
  }
}
.testimonial .container {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .testimonial .container {
    height: 880px;
  }
}
.testimonial .container .section-title {
  text-align: center;
}
.testimonial .container .review {
  display: block;
}
@media (min-width: 992px) {
  .testimonial .container .review {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 600px) {
  .testimonial .container .review .profile {
    padding-left: 100px;
  }
}
.testimonial .container .review .profile p {
  text-align: left;
}
.testimonial .container .review .profile img {
  padding-bottom: 20px;
}
.testimonial .container .review .profile .profile-reviews {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "img h3" "img p";
  text-align: start;
  align-items: center;
}
@media (min-width: 600px) {
  .testimonial .container .review .profile .profile-reviews {
    grid-template-columns: 1fr auto;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}
.testimonial .container .review .profile .profile-reviews img {
  grid-area: img;
}
.testimonial .container .review .profile .profile-reviews h3 {
  grid-area: h3;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}
.testimonial .container .review .profile .profile-reviews p {
  grid-area: p;
  color: #F94D1C;
  width: auto;
}
.testimonial .container .center-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .testimonial .container .center-content {
    padding-top: 100px;
    padding-bottom: 110px;
  }
}