.testimonial {
  background-color: #F9D783;

  @media (min-width: 600px) {
    padding-top: 70px;
    padding-bottom: 120px;
  }


  .container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;

    @media (min-width: 992px) {
      height: 880px;
    }

    .section-title {
      text-align: center;
    }

    .review {
      display: block;

      @media (min-width: 992px) {
        display: flex;
        justify-content: space-around;
      }

      .profile {

        @media (min-width: 600px) {
          padding-left: 100px;
        }

        p {
          text-align: left;
        }

        img {
          padding-bottom: 20px;
        }

        .profile-reviews {
          display: grid;
          grid-template-columns: auto;
          grid-template-areas: "img h3"
                               "img p";
          text-align: start;
          align-items: center;

          @media (min-width: 600px) {
            grid-template-columns: 1fr auto;
            column-gap: 0.5rem;
          }

          img {
            grid-area: img;
          }

          h3 {
            grid-area: h3;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 2.2rem;
          }

          p {
            grid-area: p;
            color: #F94D1C;
            width: auto;

          }
        }
      }
    }

    .center-content {
      padding-top: 30px;
      padding-bottom: 30px;

      @media (min-width: 600px) {
        padding-top: 100px;
        padding-bottom: 110px;
      }

    }
  }
}